.countryHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
    column-gap: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.countryContent p {
    padding: 1rem 0;
}